{{ pattern('test-patterns', 'layout', {
  left: pattern('test-patterns', 'button', { label: "left button", href: "#"}),
  right: pattern('test-patterns', 'button', { label: 'Foo bar', href: 'https://www.test.de'})
}) }}

